django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
drf-spectacular
pandas
openpyxl
python-multipart
stripe
python-dotenv
psycopg2-binary
bcrypt
email-validator
xlsxwriter
fpdf2
openai
mysql-connector-python
polars
fastexcel
celery
redis
pyarrow
pymongo
boto3
google-api-python-client
pyodbc
sentry-sdk
dj-database-url
